SECRET_KEY=여기에_장고_시크릿키_입력
DEBUG=True

DB_NAME=XE
DB_USER=C##ELITE
DB_PASSWORD=여기에_Oracle_비밀번호_입력
DB_HOST=localhost
DB_PORT=1521

# Oracle XE 21c 클라이언트 경로 — C:\app\{내PC사용자명}\product\21c\dbhomeXE\bin
ORACLE_LIB_DIR=C:\app\여기에_사용자명_입력\product\21c\dbhomeXE\bin

KAKAO_CLIENT_ID=
KAKAO_SECRET=

NAVER_CLIENT_ID=
NAVER_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000
