SECRET_KEY=여기에_장고_시크릿키_입력
DEBUG=True

DB_NAME=jibdaum
DB_USER=root
DB_PASSWORD=rootpassword
DB_HOST=127.0.0.1
DB_PORT=3306

KAKAO_CLIENT_ID=
KAKAO_SECRET=

NAVER_CLIENT_ID=
NAVER_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_SECRET=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

HCAPTCHA_SECRET_KEY=0x0000000000000000000000000000000000000000
